.parrafo_box {
  background-color: #c53030;
  width: 300px;
  color: white;
  border: 2px solid white;
  font-family: 'Times New Roman', Times, serif; }

.textos--h3 {
  background-color: #e94808; }

.textos--h4 {
  background-color: #e49c18; }

.textos--h5 {
  background-color: #e0cd1c; }

.textos--h3 {
  font-size: 3rem; }

.textos--h4 {
  font-size: 2rem; }

.textos--h5 {
  font-size: 1rem; }

.parrafo, .parrafo--variable {
  border: 4px solid black;
  background-color: yellow; }

.parrafo--variable {
  margin: 4px;
  font-family: 'Times New Roman', Times, serif;
  font-size: xx-large;
  text-align: center; }

.ofertas {
  color: black;
  background-color: #128eb4;
  font-size: xx-large;
  text-align: center; }

* {
  padding: 0;
  margin: 0; }

body {
  background-color: white; }

ul {
  list-style: none;
  transition: all 300ms; }

li {
  display: inline; }

footer {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.tienda {
  background-color: #066b85;
  border: 2px solid black;
  padding: 5%;
  margin: 8%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
  font-size: 33px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  display: flex;
  flex-direction: column;
  justify-content: center; }

.main__contact {
  line-height: 40px;
  background-color: #e9dada;
  border: 4px solid black;
  padding: 30px;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  text-align: center; }

.videosYoutube {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .videosYoutube .main__conteiner--video {
    color: black;
    background-color: #066b85;
    border: 2px solid black;
    padding: 2%;
    margin: 10px;
    font-family: "Times New Roman", Times, serif;
    font-size: xx-large;
    text-align: center; }

.videosYoutube {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .videosYoutube .main__conteiner {
    background-color: #066b85;
    border: 2px solid black;
    padding: 2%;
    margin: 10px;
    line-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }

.videos iframe {
  transition: 0.3s ease all; }
  .videos iframe:hover {
    transform: scale(1.07); }

.fotos_img {
  width: 500px;
  height: 600px; }

.main__picture {
  display: flex;
  justify-content: center; }

.main__picture--container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  background-color: #066b85;
  border: 2px solid black;
  padding: 10px; }
  .main__picture--container img {
    transition: 0.3s ease all; }
    .main__picture--container img:hover {
      transform: scale(1.07); }

.loggo {
  display: flex;
  justify-content: end;
  transition: 300ms; }

.loggo:hover {
  -webkit-transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateY(180deg);
  transform-style: preserve-3d; }

.titulo {
  color: black;
  background-color: #066b85;
  border: 2px solid black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  transition: all 300ms; }

.titulo {
  animation-name: cambiarColor;
  animation-duration: 2s; }

@keyframes cambiarColor {
  0% {
    background-color: #96ecd0; }
  50% {
    background-color: #47b2f0; }
  100% {
    background-color: #1387ca; } }

@media only screen and (max-width: 720px) {
  .main__picture--container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr); } }

@media only screen and (max-width: 576px) {
  header {
    display: flex;
    justify-content: center; }
  nav {
    display: flex;
    justify-content: center; }
  .videosYoutube {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr); }
  .main__picture--container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); } }

h3 {
  background-color: white; }

h4 {
  background-color: white; }

h5 {
  background-color: white; }
