$fondocolor: rgb(6, 107, 133); 
$transicion: 0.3s ease all;
$posicion: center; 
$color: black;



$ancho: 600px;
$red: rgb(197, 48, 48); 

.parrafo_box {
    background-color: $red;
    width: $ancho/2;
    color: white;
    border: 2px solid white;
    font-family: 'Times New Roman', Times, serif;
} 
  $vehiculo:automovil; 

$text:(
    h3: rgb(233, 72, 8),
    h4: rgb(228, 156, 24),
    h5: rgb(224, 205, 28),
);

@each $texto, $colorr in $text{
    .textos--#{$texto}{
        background-color: $colorr;
    
    }
    
};
$size: (
    primary: 3rem,
    secondary: 2rem,
    tertiary: 1rem
);

.textos--h3{
    font-size: map-get($size, primary);
}
.textos--h4 {
    font-size: map-get($size, secondary);
}
.textos--h5 {
    font-size: map-get($size, tertiary);
};

.parrafo{
       border: 4px solid black;
       background-color: yellow;
}
.parrafo--variable{
    @extend .parrafo;
    margin: 4px;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    text-align: center;
}

@mixin color ($color, $fondo){
     color: $color;
     background-color: $fondo;
 }


.ofertas {
    @include color ( rgb(0, 0, 0), rgb(18, 142, 180));
    font-size: xx-large;
    text-align: center;
}