* {
  padding: 0;
  margin: 0;
}
body {
  background-color:white;
}

.caja {
  border: 2px solid black;
  background-color: rgb(233, 218, 218);
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 2px;
}



.titulo {
  color: rgb(22, 15, 15);
  background-color: rgb(233, 218, 218);
  border: 2px solid black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  transition: all 300ms;
}
ul {
  list-style: none;
 
  transition: all 300ms;
}
li {
  display: inline;
}
.direcciones {
  font-size: x-large;
}
.redes {
  border: 1px solid black;
  background-color: rgba(130, 141, 236, 1);
  padding: 10px;
  font-size: x-large;
  display: flex;
  flex-direction: row;
  font-size: x-large;
}
.direc {
  border: 1px solid black;
  background-color: rgb(233, 218, 218);
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 110px;
  height: 60px;
  line-height: 50px;
  text-align: center;
  margin: 2px;
}

.videosYoutube {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}

.videosYoutube .main__conteiner--video {
  background-color: rgb(233, 218, 218);
  border: 2px solid black;
  padding: 2%;
  margin: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: xx-large;
  text-align: center;
}
.videosYoutube .main__conteiner {
  background-color: rgb(233, 218, 218);
  border: 2px solid black;
  padding: 2%;
  margin: 10px;
  line-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
}

.principio {
  display: flex;
  flex-direction: column;
}
.fotos_img {
  width: 500px;
  height: 600px;
  
}
.main__picture {
  display: flex;
  justify-content: center;
}

.main__picture--container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  background-color: rgb(233, 218, 218);
  border: 2px solid black;
  padding: 10px;
  
}
.tienda {
  background-color: rgb(233, 218, 218);
  border: 2px solid black;
  padding: 5%;
  margin: 8%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
  font-size: 33px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__contact {
  line-height: 40px;
  background-color: rgb(233, 218, 218);
  border: 4px solid black;
  padding: 30px;
  justify-content: center;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
  font-size: 20px;
  display: flex;
  flex-direction:row;
  text-align: center;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
 }
.promo__img {
  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}


.main__picture--container img{
  transition: 0.3s ease all;
}
.main__picture--container img:hover {
  transform: scale(1.07);
}
.videos iframe {
  transition: 0.3s ease all;
}
.videos iframe:hover {
  transform: scale(1.07);
}
.titulo {
  animation-name: cambiarColor;
  animation-duration: 2s; 
}
@keyframes cambiarColor{
  0% {
    background-color: rgb(150, 236, 208);
  }
  50% {
    background-color: rgb(71, 178, 240);
  }
  100% {
    background-color: rgb(19, 135, 202);
  }
}
.loggo {
  display: flex;
  justify-content: end;
  transition: 300ms;
}
.loggo:hover {
  -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}

@media only screen and (max-width: 720px) {
  .main__picture--container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  
}
@media only screen and (max-width: 576px) {
  header {
    display: flex;
    justify-content: center;
  }
  nav {
    display: flex;
    justify-content: center;
  }
  .videosYoutube {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .main__picture--container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  
}